/*TODO: Navbar styling */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1f2932;
  font-size: 18px; 
  overflow: hidden;
}

li a,
.nav-list li {
  display: inline;
  color: whitesmoke;
  text-decoration: none; 
  padding: 20px 10px;
  text-align: center;
}

li a:hover {
  background-color: #111; 
}

.material-icons {
  padding: 12px 12px;
}

#search-icon {
   float: right;
}

.home-item {
  padding-left: 0;
}

/*TODO: homepage grid styling (Small Screen Size)*/
.container {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 50px 100px 2400px 40px;
    grid-template-areas: "nav"
    "hd"
    "card"
    "ft";
}

.nav-bar {
  grid-area: nav;
  
}

/*TODO: Header styling*/
.plog-header {
  grid-area: hd;
  text-align: center;
  padding: 20px;
}

.bolg-card {
  grid-area: card;
}

/*TODO: Footer styling*/
.footer {
  grid-area: ft;
  background-color: #1f2932;
  padding: 14px;
  color: whitesmoke;
}

/*TODO: Flex-card styling*/
.felx-card {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}
 
.card1,
.card2,
.card3,
.card4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.felx-card img {
    border-radius: 5px 5px 0 0;
    width: 380px;
    height: 400px;
    object-fit: cover; 
}

.felx-card button {
  background-color: #1f2932;
  padding: 8px;
  color: whitesmoke;
  border: none;
  border-radius: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*TODO: Subscribe small screen styling*/
#sub-cont {
  grid-template-rows: 50px 100px 780px 40px;
}

/*TODO: Mediam Screen size*/
@media(min-width:430px) and (max-width:768px){
  .container{ 
    display: grid;
    grid-template-columns: repeat(4,1120);
    grid-template-rows: 50px 100px 750px 40px;
    grid-template-areas:"nav nav nav nav"
    "hd hd hd hd" 
    "card card card card"  
    "ft ft ft ft";
  }

  .felx-card {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  }

  .felx-card img {
    width: 380px;
    height: 300px;
  }

  #sub-card {
       width: 380px;
       height: 320px;
  }

  #home-cont { 

    grid-template-rows: 50px 150px 2000px 40px;

  }
 
 }

 /*TODO: large Screen size*/
 @media(min-width:770px){
   .container{ 
     display: grid;
     grid-template-columns: repeat(4,300px);
     grid-template-rows: 50px 100px 1020px 40px;
     grid-template-areas:"nav nav nav nav nav nav nav nav"
     "hd hd hd hd hd hd hd hd" 
     "card card card card card card card card"  
     "ft ft ft ft ft ft ft ft";  
   }

   .felx-card {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center;
   }

   #sub-card {
    width: 600px;
    height: 350px;
  }

  #home-cont { 
   grid-template-rows: 50px 300px 820px 40px;
  }

}